/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #173400;
}

header {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #173400;
    padding: 0 80px;
}

.logo img {
    width: 140px;
}

nav {
    margin-left: 20px; /* Ajusta o espaçamento do menu em relação à logo */
    flex-grow: 1; /* Faz o nav ocupar o espaço restante */
}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 16px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.buttons {
    display: flex;
    gap: 15px; /* Adicionado espaçamento entre os botões */
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 29px;
}

.sign-in-btn {
    width: 98px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.open-account-btn {
    width: 190px;
    height: 40px;
    background-color: #9FE970;
    color: #000;
}