/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #173400;
}

header {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #173400;
}

.logo img {
    width: 140px;
}

nav ul {
    display: flex;
    gap: 32px;
    font-size: 16px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.buttons {
    display: flex;
    gap: 15px; /* Adicionado espaçamento entre os botões */
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 29px;
}

.sign-in {
    width: 98px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.open-account {
    width: 190px;
    height: 40px;
    background-color: #9FE970;
    color: #000;
}